.head {
    margin-bottom: 10px;
}

table, th, td {
    border: 1px solid white;
    padding: 15px 1px;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0 1rem;
}
th {
    font-size: 10px;
    color: white;
    background-color: green;
}
td {
    height: 100%;
    font-size: 10px;
    color: black;
    text-align: center;
}